
.menu1 { /* boite qui contient le menu (les onglets) */
  float:left;
  padding-top:12px ; /* marge intérieure haute */
  padding-bottom:7px ; /* marge intérieure basse */
  
 } 

.onglet { /* style des onglets inactifs */
  border:solid 1px black ; /* encadrement */
  margin:0px 0px 0px 0px ; /* marge extérieure */
  padding:7px 3px 7px 3px;} /* marge intérieure */

a.onglet { /* style des liens se trouvant dans un onglet inactif */
  background-color:#E7E4E4 ; /* le fond de l'onglet est gris */
  text-decoration:none;} /* les liens ne sont pas soulignés */

.onglet-actif { /* style de l'onglet de la page active */
   border:solid 2px black ; /* l'encadrement est porté à 2 pixels */
   border-bottom:solid 3px black ; /* le trait inférieur est effacé */
   margin:0px 0px 0px 0px ; /* marges intérieures */
   padding:7px 3px 7px 3px ; /* marges extérieures */  
   background-color:black} /* le fond de l'onglet actif est blanc*/
/* partie main*/
div.main{
      display:block;
      margin: 0 auto;
      border: 0 ;
      width:90%;
 }
/* partie gauche*/
div.gauche{
      float: left;
      width:15%;
      
 }
 /* partie droite*/
 div.droite{
      margin-left:16%;
      
 }
/* Iframe Centre */

div.centre {
    overflow: auto;
    display: block;
    margin: 0 auto;
    border: 0 ;
    width: 90%;
}
/* tableau accueil*/

table.bas{
    width: 100%;
    border : 1px black solid;
    border-collapse: collapse;
    }
 
table.bas tr:nth-child(odd) {
    background-color: #E6E7E7;
   }
table.bas tr:nth-child(even) {
    background-color: #EEEFF1;
    }
table.bas tr{
    height: 50px;
}
table.bas td {
   text-align: center;
   
}

table.bas thead{
    background: #1C6EA4;
    border-bottom: 2px solid #444444;    
}
table.bas thead th {
    padding: 5px;
    height: 50px; 
}
table.bas thead th.titre {
    width: 30%;
}
tr.titre, tr.titre td{
    background: -moz-linear-gradient(top, #000000 0%,  #4E504F 80%);
    background: -webkit-linear-gradient(top, #000000 0%, #4E504F 80%);
    background: linear-gradient(to bottom, #000000 0%, #4E504F 80%);
    color: White;    
}
input[type=number]{
   
    
}
/* tableau accueil*/
table.tri{
    
    margin-left:15%;
    width: 75%;
    border : 1px black solid;
    border-collapse: collapse;
}
table.tri thead{
    background: #1C6EA4;
    border-bottom: 2px solid #444444;    
}
table.tri thead th {
    padding: 5px;
    height: 15px; 
}
table.tri td {
   text-align: center;
   border:1px black dashed;
   background-color: #E6E7E7;
 }
 
 *{
     margin: 0;
     padding: 0;
  }

  /* bouton delete */
  button.delete{
      position:relative;
      display: block;
      margin:auto;
  }
  /* bouton modifier*/
  button.modifier{
      position:relative;
      display: block;
      margin:auto;
  }
  /* bouton ajouter*/
  button.ajouter{
      position:relative;
      display: block;
      margin:auto;
  }
  /* bouton ok tri*/
  button.tri{
      position:relative;
      display: block;
      margin:auto;
  }
  /* image valide oui non */
  img.valid{
      max-width:30px;
      max-height:30px;
      
  }
  /* simbol consoles */
  span.ps4{
      font-size: 14px;
      background-color: blue;
      color: white;
      border-radius: 10px;
  }
  span.ps3{
      font-size: 14px;
      background-color: black;
      color: white;
      border-radius: 10px;
  }
  span.psvita{
      font-size: 14px;
      background-color: blue;
      color: white;
      border-radius: 10px;
  }
  
 
 